.list {
  list-style: none;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 10px;

  &_item {
    background-color: rgba(97, 97, 161, 0.164);
    border: rgba(97, 97, 161, 0.294) 1px solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.title {
  text-transform: capitalize;
  font-size: 18px;
}

.subtitle {
  color: white;
  text-transform: uppercase;
  font-size: small;
  background-color: grey;
}
